
{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",  
    "prettier",                   // ❶ eslint 룰 중 Prettier와 충돌나는 것 끔
    "plugin:prettier/recommended" // ❷ `prettier/prettier` 룰 자동 활성화
  ],
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    // 커스텀 룰
    "no-console": "warn",
    "react/react-in-jsx-scope": "off"
  }
}